:root {
  --brand-color: #4d5ae5;
  --navy-blue: #2e2f42;
  --white-color: #ffffff;
  --drak-grey: #434455;
  --ocean-blue: #404bbf;
  --backround-white:#f4f4fd;
  --border-white:#e7e9fc;
  --text-font-family: "Roboto", sans-serif;
  --logo-font-family: "Raleway", sans-serif;
}
body {
  font-family: var(--text-font-family);
  color: var(--drak-grey)
  background-color: var(var(--white-color))
}
/* logo */
.logo-link {
  font-family: var(--logo-font-family);
  color: var(--brand-color);
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 1.17%;
  letter-spacing: 116.667%;
  text-transform: uppercase;
}
.link {
    text-decoration: none
}
/* nav section */
.list {
  color: var(--navy-blue);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  list-style: none;
  text-decoration: none;
}
.list:hover,
.list:focus {
  color: var(--white-color);
  background-color: var(--ocean-blue);
  border-color: rgba (0, 0, 0, 0);
}
/* address section */
.address-mail {
  color: var(--drak-grey);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.32px;
}
.address:hover,
.address:focus {
  color: var(--white-color);
  background-color: var(--ocean-blue);
  border-color: var(--ocean-blue);
}
/*hero section */
.hero-content {
  background-color: var(--navy-blue);
  color: var(--white-color);
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
}
.order-service-button {
  background-color: var(--brand-color);
  color: var(--white-color);
  border-color: rgba(0, 0, 0, 0);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 0.64px;
  cursor: pointer;
  font-family: var(--text-font-family);
}
.order-service-button:hover,
.order-service-button:focus {
    color: var(--white-color);
  background-color: var(--ocean-blue);
  border-color: rgba(0, 0, 0, 0);
}
/* portfolio */
.filter-button {
  color: var(--brand-color);
  background-color: var(--backround-white);
  border-color: var(--border-white);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  font-family: var(--text-font-family);
}
.filter-button:hover,
.filter-button:focus {
  color: var(--white-color);
  background-color: var(--ocean-blue);
  border-color: rgba(0, 0, 0, 0);
}
/* title, subtitle, content */
.header {
  color: var(--navy-blue);
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.1
  letter-spacing: 0.02;
  text-transform: capitalize;
}
.subtitle {
  color: var(--navy-blue);
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2
  letter-spacing: 0.02;
}
.content {
  color: var(--drak-grey);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5
  letter-spacing: 0.02;
}
.footer {
    background-color: var(--navy-blue);
    color: var(--backround-white);
    font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 1.5
letter-spacing: 0.32px;
}
